.row:hover {
  opacity:100%;
}

.row {
  opacity: 50%;
}

* {
  border: 1px solid red;
}

.img {
  float: center;
}

.hot {
  font-style: italic;
}

.header {
  text-align: center;
}

.time {
  font-weight: bold;
}